flask==3.0.2
flask-cors==4.0.0
flask-jwt-extended==4.6.0
bcrypt==4.1.2
APScheduler==3.10.4
qrcode[pil]==7.4.2
Pillow==10.2.0
python-dotenv==1.0.1 these the requirements save it as a txt file in backend folder
